<p style="color: green"><%= notice %></p>

<h1><%= @membership.name %></h1>

<%= link_to @membership.phone, "tel:#{@membership.phone}" %>

<div>
  <%= link_to "Edit this membership", edit_membership_path(@membership) %> |
  <%= link_to "Back to memberships", memberships_path %>

  <%= button_to "Destroy this membership", @membership, method: :delete %>
</div>
