<p style="color: green"><%= notice %></p>

<h1><%= @membership.name %></h1>

<table class="table  table-striped">
  <tr>
    <th><%= t('name') %></th>
    <td><%= @membership.name %></td>
  </tr>
  <tr>
    <th><%= t('phone') %></th>
    <td><%= @membership.phone %></td>
  </tr>
  <tr>
    <th><%= t('role') %></th>
    <td><%= t "roles.#{@membership.role}" %></td>
  </tr>
</table>


<% if policy(@membership).edit? %>
  <%= link_to t('edit'), edit_organization_membership_path(@organization, @membership), class: 'btn btn-primary' %>
<% end %>
