<%= form_with(model: [@organization, income]) do |form| %>
  <% if income.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(income.errors.count, "error") %> prohibited this income from being saved:</h2>

      <ul>
        <% income.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :membership_id, t('member').capitalize, class: 'form-label' %>
    <%= form.select :membership_id, @organization.memberships.map { |m| [m.name, m.id] }, { include_blank: true }, class: 'form-select' %>
  </div>

  <div class="mb-3">
    <%= form.label :amount, t('money_amount').capitalize, class: 'form-label' %>
    <%= form.number_field :amount, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <% if income.new_record? %>
      <%= form.submit t('add'), class: 'btn btn-primary' %>
    <% else %>
      <%= form.submit t('save'), class: 'btn btn-primary' %>
      <%= link_to t('cancel'), organization_path(@organization), class: 'btn btn-secondary' %>
    <% end %>
  </div>
<% end %>
