<div class="card mt-3">
  <h5 class="card-header">
    <%= t('balance').capitalize %>
  </h5>
  <div class="card-body">
    <h5 class="card-title organization__balance"><%= link_to number_to_currency(@organization.balance), organization_transactions_url(@organization) %></h5>
    <p class="card-text"></p>
    <% if policy(:income).create?(@organization) %>
      <%= link_to t('add_income'), new_organization_income_path(@organization), class: 'btn btn-secondary' %>
    <% end %>

    <% if policy(:expense).create?(@organization) %>
      <%= link_to t('add_expense'), new_organization_expense_path(@organization), class: 'btn btn-secondary' %>
    <% end %>
  </div>
</div>

  <div class="card mt-3">
    <h5 class="card-header">
      <%= t('members').capitalize %>
    </h5>
    <div class="card-body">
      <h5 class="card-title organization__balance"><%= link_to @organization.members.size, organization_memberships_url(@organization) %></h5>
      <p class="card-text"></p>

      <% if policy(@organization).add_member? %>
        <%= link_to t('add_member'), new_organization_membership_path(@organization), class: 'btn btn-secondary' %>
      <% end %>
    </div>
  </div>
