<h1><%= @organization.name %></h1>

<h2><%= t('balance') %></h2>

<table class="table table-striped table-hover">
  <thead class="">
    <tr>
      <th><%= t('incomes.date') %></th>
      <th><%= t('amount') %></th>
      <th><%= t('member_name') %></th>
    </tr>
  </thead>
  <tbody>
    <% @organization.incomes.order('created_at DESC').each do |income| %>
      <tr>
        <td><%= l income.created_at.to_date %></td>
        <td><%= number_to_currency income.amount %></td>
        <td><%= income.member.name %></td>
        <td><%= link_to t('edit'), edit_organization_income_url(@organization, income) %></td>
      </tr>
    <% end %>
  </tbody>

  <tbody>
    <tr>
      <th><%= t('balance') %></th>
      <th><%= number_to_currency @organization.balance %></th>
    </tr>
  </tbody>
</table>

<%= link_to t('track_income'), new_organization_income_path(@organization), class: 'btn btn-primary' %>


<h2><%= t('members').capitalize %></h2>
<table class="table table-striped table-hover">
  <thead class="">
    <tr>
      <th><%= t('member_name') %></th>
      <th><%= t('phone') %></th>
      <th><%= t('role') %></th>
      <th><%= t('registered_at') %></th>
    </tr>
  </thead>
  <tbody  class="">
    <% @memberships.sort_by(&:name).each do |membership| %>
      <tr>
        <td><%= link_to membership.name, organization_membership_url(@organization, membership) %></td>
        <td><%= membership.phone %></td>
        <td><%= t "roles.#{membership.role}" %></td>
        <td><%= l membership.created_at.to_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to t('add_member'), new_organization_membership_path(@organization), class: 'btn btn-primary' %>
