<h1><%= @organization.name %></h1>

<%= link_to t('track_income'), new_organization_income_path(@organization) %>


<h2><%= t('members').capitalize %></h2>
<table class="table table-striped table-hover">
  <thead class="">
    <tr>
      <th><%= t('member.name') %></th>
      <th><%= t('phone') %></th>
    </tr>
  </thead>
  <tbody  class="">
    <% @memberships.sort_by(&:name).each do |membership| %>
      <tr>
        <td><%= link_to membership.name, organization_membership_url(@organization, membership) %></td>
        <td><%= membership.phone %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to t('add_member'), new_organization_membership_path(@organization), class: 'btn btn-primary' %>
